numpy
pandas
matplotlib
scikit-learn
torch
transformers
datasets
sentence-transformers
wandb
accelerate

gradio==5.38.2
torch>=2.2.0
transformers>=4.41.2
numpy
pandas

streamlit
torch
transformers
numpy
pandas